{% for project in mini-projects %}
<div class="row mb-4">
    <div class="col-sm-4">
        <img width="100%" height="auto" class="w-full rounded-lg" src="{{ project.gif }}">
    </div>
    <div class="col-sm-8">
        {% if project.system-name %}<b><i>{{ project.system-name }}</i>:</b>{% endif %}
        <b>{{ project.title }}</b>
        <br>
        <i><a href="{{ project.event-web }}" target="_blank" rel="noopener">{{ project.event }}</a></i>
        <br>
        {{ project.team }}
        <br>
        {% if project.post %}<a href="{{ project.post }}" target="_blank" rel="noopener">[POST]</a>{% endif %}
        {% if project.code %} | <a href="{{ project.code }}" target="_blank" rel="noopener">[CODE]</a>{% endif %}
        {% if project.demo %} | <a href="{{ project.demo }}" target="_blank" rel="noopener">[DEMO]</a>{% endif %}
        <br>
        <u><b><i>Description</i></b>:</u> {{ project.description }}
        <br>

        {% if project.prize %}
            <u><b><i>Prize</i></b>:</u>
            <ul>
                {% for prize_item in project.prize.split(';') %}
                    <li>{{ prize_item }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endfor %}
